@page "/participants"
@using ConferenceApp.Models
@using ConferenceApp.Services
@using ConferenceApp.Helpers
@using System.Linq
@inject IParticipantService ParticipantService

<h1>PARTICIPANTS</h1>

<ul>
    @foreach (var p in participants)
    {
        <li>@p.FirstName</li>
    }
</ul>

<Pagination GoToPage="ChangePage" totalPages="@totalPages" currentPage="@currentPage"/>

@code {
    private PaginatedList<Participant> participants;
    private int totalPages;
    private int currentPage = 1;

    protected void FetchParticipants(int? page)
    {
        var nextPage = page ?? currentPage;
        participants = ParticipantService.PaginatedList(nextPage);
        totalPages = participants.TotalPages;
        currentPage = participants.CurrentPage;
    }

    protected override async Task OnInitializedAsync()
    {
        FetchParticipants(null);
    }

    public void ChangePage(int page)
    {
        FetchParticipants(page);
    }
}